<% provide(:title, "Home") %>


<div class="jumbotron">
  <h1 class="display-4">Hello, this is my sample app!</h1>
  <p class="lead">This is a simple app you can log in to give it a try!!</p>
  <%= link_to "Sign up", sign_up_path, class: "btn btn-primary btn-lg"  %>
</div>


  <% @users.each do |user| %>
      <h3>
      <%= gravatar_for(user)%> <%= user.name %>
      <%= link_to "X",user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </h3>
  <% end %>

