// variables
$border: 1px solid red;
$border-radius: 5px;
$my-white: #fff;
// logo
header {
    // border: $border;
    border-radius: $border-radius;
}

.nav-item {
    // border: $border;
    padding-left: 10px;
    a {
        color: $my-white;
        &:hover {
            color: $my-white;
            text-decoration: none;
        }
    }
}


// jumbotron

.jumbotron {
    text-align: center;
}

// help page
.titre-help {
    // background: black;
    margin-top: 10px;
    text-align: center;
}

.title-sign_up {
    text-align: center;
    margin-top: 15px;
}

.form-sign_up {
    text-align: center;
    border: $border;
}